Body {
    background-color:white;
    box-shadow:10px 10px 5px;
    border: 1px solid lightblue;
.container:
 flex direction: row;
 flex wrap: warp;
 justify content: center;
}

.image
    display:
    margin-
}